.answer-content__icon {
    position: absolute;
    top: 32px;
    right: 36px;
    width: 146px;
    height: 146px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}