@forward './__item/answer-menu__item';

@forward './__item/_wrong/answer-menu__item_wrong';
@forward './__item/_success/answer-menu__item_success';
@forward './__item/_active/answer-menu__item_active';

@use '../../../modules/mixins' as mix;

.answer-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    row-gap: 30px;

    @include mix.responsive(mobile) {
        align-items: center;
        row-gap: 20px;
    }

    @include mix.responsive(tablet-s) {
        align-items: center;
        row-gap: 20px;
    }

    @include mix.responsive(tablet-m) {
        align-items: center;
        row-gap: 20px;
    }

    @include mix.responsive(desktop-s) {
        row-gap: 20px;
    }
}