@use '../../../../modules/mixins' as mix;

.page-quiz__main {
    margin-top: 30px;

    @include mix.responsive(mobile) {
        margin-top: 15px;
        margin-bottom: 20px;
    }

    @include mix.responsive(tablet-s) {
        margin-bottom: 40px;
    }

    @include mix.responsive(tablet-m) {
        margin-top: 0;
        margin-bottom: 40px;
    }

    @include mix.responsive(desktop-s) {
        margin-top: 0;
    }
}