@use '../../../modules/mixins' as mix;

.match-quiz {
    @include mix.font('Rubik One', 40px, 400);
    color: #fff;
    cursor: pointer;
    opacity: 0.8;
    transition: all .3s;
    &:hover {
        opacity: 1;
    }

    @include mix.responsive(mobile) {
        font-size: 30px;
    }

    @include mix.responsive(tablet-s) {
        font-size: 36px;
    }

    @include mix.responsive(tablet-m) {
        font-size: 36px;
    }

    @include mix.responsive(desktop-s) {
        font-size: 36px;
    }
}