@use '../../../../../modules/mixins' as mix;

.sidebox-quiz__match {
    margin: 0;
    margin-top: 35px;
    align-self: center;

    @include mix.responsive(mobile) {
        margin-top: 25px;
    }

    @include mix.responsive(desktop-s) {
        margin-top: 25px;
    }
}