@use '../../../modules/colors' as *;
@use '../../../modules/mixins' as mix;

@forward './__answer-quiz/content__answer-quiz';
@forward './__next-level/content__next-level';

.content {
    background: $main-gray;
    border-radius: 30px;
    position: relative;
    padding: 0 45px;
    display: flex;
    flex-direction: column;

    @include mix.responsive(mobile) {
        margin-top: 15px;
        padding: 0 15px;
    }

    @include mix.responsive(tablet-s) {
        margin-top: 35px;
        padding: 0 25px;
    }

    @include mix.responsive(tablet-m) {
        margin-top: 35px;
        padding: 0 20px;
    }

    @include mix.responsive(desktop-s) {
        margin-top: 35px;
        padding: 0 20px;
    }
}