@use '../../../../modules/mixins' as mix;

.answer-content__icon {
    position: absolute;
    top: 32px;
    right: 36px;
    width: 146px;
    height: 146px;
    border-radius: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @include mix.responsive(mobile) {
        position: static;
    }

    @include mix.responsive(tablet-s) {
        position: static;
    }

    @include mix.responsive(tablet-m) {
        position: static;
    }

    @include mix.responsive(desktop-s) {
        // position: static;
        width: 110px;
        height: 110px;
    }
}