@forward './__bar/player-control__bar';
@forward './__state/player-control__state';
@forward './__state/_pause/player-control__state_pause';
@forward './__player-progress/player-control__player-progress';

@use '../../../../modules/mixins' as mix;

.player-control {
    display: flex;
    align-items: flex-end;
    width: 100%;

    @include mix.responsive(mobile) {
        align-items: center;
    }
}