@use '../../../../modules/mixins' as mix;

.page__main-home {
    margin-top: 106px;

    @include mix.responsive(mobile) {
        margin-top: 20px;
    }

    @include mix.responsive(desktop-s) {
        margin-top: 50px;
    }

    @include mix.responsive(tablet-m) {
        margin-top: 50px;
    }

    @include mix.responsive(tablet-s) {
        margin-top: 50px;
    }
}