@forward './__title/answer-content__title';
@forward './__subtitle/answer-content__subtitle';
@forward './__description/answer-content__description';
@forward './__answer-player/answer-content__answer-player';
@forward './__icon/answer-content__icon';
@forward './__select/answer-content__select';

@use '../../../modules/colors' as *;
@use '../../../modules/mixins' as mix;

.answer-content {
    display: grid;
    border-radius: 30px;
    padding: 30px;
    position: relative;
    background: $main-yellow;
    box-sizing: border-box;
    transition: all .5s;
    grid-template-rows: 0.1fr;

    @include mix.responsive(mobile) {
        justify-items: center;
        padding: 20px;
    }

    @include mix.responsive(tablet-s) {
        justify-items: center;
        padding: 20px;
    }

    @include mix.responsive(tablet-m) {
        justify-items: center;
    }

    @include mix.responsive(desktop-s) {
        padding: 20px;
        // justify-items: center;
    }
}