@use '../../../../../modules/mixins' as mix;
@use '../../../../../modules/colors' as *;

.answer-menu__item {
    @include mix.font('Rubik One', 30px, 400);
    background: $main-yellow;
    color: $main-blue;
    width: 410px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
    transition: all .3s;
    span {
        transition: all .3s;
    }
    &:hover {
        span {
            transform: scale(1.2);
        }
    }
}