@use '../../../../../modules/mixins' as mix;

/*webkit*/

.player-control__bar {
    -webkit-appearance: none;
    margin-left: 36px;
    width: 715px;
    border-radius: 10px;
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--value) - var(--min)) / var(--range));
    --sx: calc(0.5 * 30px + var(--ratio) * (100% - 30px));
    &:focus {
        outline: none;
    }
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 30px;
        height: 30px;
        border-radius: 30px;
        background: #414BA3;
        border: none;
        box-shadow: none;
        margin-top: calc(10px * 0.5 - 30px * 0.5);
    }
    &::-webkit-slider-runnable-track {
        height: 10px;
        border: none;
        border-radius: 10px;
        background: #FFFFFF;
        box-shadow: none;
        background: linear-gradient(#414BA3,#414BA3) 0/var(--sx) 100% no-repeat, #FFFFFF;
    }
    &::-moz-range-thumb {
        width: 30px;
        height: 30px;
        border-radius: 30px;
        background: #414BA3;
        border: none;
        box-shadow: none;
    }
    &::-moz-range-track {
        height: 10px;
        border: none;
        border-radius: 10px;
        background: #FFFFFF;
        box-shadow: none;
        background: linear-gradient(#414BA3,#414BA3) 0/var(--sx) 100% no-repeat, #FFFFFF;
    }
    &::-ms-fill-upper {
        background: transparent;
        border-color: transparent;
    }
    &::-ms-fill-upper {
        background: transparent;
        border-color: transparent;
    }
    &::-ms-fill-lower {
        background: transparent;
        border-color: transparent;
    }
    &::-ms-thumb {
        width: 30px;
        height: 30px;
        border-radius: 30px;
        background: #414BA3;
        border: none;
        box-shadow: none;
        margin-top: 0;
        box-sizing: border-box;
    }
    &::-ms-track {
        height: 10px;
        border-radius: 10px;
        background: #FFFFFF;
        border: none;
        box-shadow: none;
        box-sizing: border-box;
    }
    &::-ms-fill-lower {
        height: 10px;
        border-radius: 10px 0 0 10px;
        margin: -undefined 0 -undefined -undefined;
        background: #414BA3;
        border: none;
        border-right-width: 0;
    }
}
