.answer-progress__bar {
    -webkit-appearance: none;
    border-radius: 8px;
    width: 100%;
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 20px;
        height: 20px;
        border-radius: 20px;
        background: #E2DBF4;
        border: none;
        box-shadow: none;
        margin-top: calc(8px * 0.5 - 20px * 0.5);
    }
    &::-webkit-slider-runnable-track {
        height: 8px;
        border: none;
        border-radius: 8px;
        background: #FFFFFF;
        box-shadow: none;
    }
    &::-moz-range-thumb {
        width: 20px;
        height: 20px;
        border-radius: 20px;
        background: #E2DBF4;
        border: none;
        box-shadow: none;
    }
    &::-moz-range-track {
        height: 8px;
        border: none;
        border-radius: 8px;
        background: #FFFFFF;
        box-shadow: none;
    }
    &:-ms-fill-upper {
        background: transparent;
        border-color: transparent;
    }
    &::-ms-fill-lower {
        background: transparent;
        border-color: transparent;
    }
    &::-ms-thumb {
        width: 20px;
        height: 20px;
        border-radius: 20px;
        background: #E2DBF4;
        border: none;
        box-shadow: none;
        margin-top: 0;
        box-sizing: border-box;
    }
    &::-ms-track {
        height: 8px;
        border-radius: 8px;
        background: #FFFFFF;
        border: none;
        box-shadow: none;
        box-sizing: border-box;
    }
}
