@use '../../../../modules/mixins' as mix;
@use '../../../../modules/colors' as *;

.menu__item {
    @include mix.font('Rubik One', 26px, 400);
    color: $main-white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 295px;
    height: 60px;
    border-radius: 50px;
    text-align: center;

    @include mix.responsive(mobile) {
        width: 250px;
        height: 50px;
        font-size: 24px;
    }

    @include mix.responsive(tablet-m) {
        width: 250px;
        height: 50px;
        font-size: 22px;
    }

    @include mix.responsive(desktop-s) {
        width: 240px;
        height: 45px;
        font-size: 22px;
    }
}