@forward './__title/player-quiz__title';
@forward './__player-control/player-quiz__player-control';

.player-quiz {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-left: 384px;
}