@use '../../../../../modules/mixins' as mix;
@use '../../../../../modules/colors' as *;

.player-time__duration {
    @include mix.font('Inter', 14px, 400);
    color: $main-white;
    margin: 0;

    @include mix.responsive(mobile) {
        font-size: 14px;
    }
}