@use '../../../../modules/mixins' as mix;

$thumb-dimension: 20px;
$height-bar: 5px;

/*webkit*/

.player-control__bar {
    -webkit-appearance: none;
    width: 100%;
    border-radius: $height-bar;
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--value) - var(--min)) / var(--range));
    --sx: calc(0.5 * 20px + var(--ratio) * (100% - 20px));
    cursor: pointer;

    &:focus {
        outline: none;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: $thumb-dimension;
        height: $thumb-dimension;
        border-radius: $thumb-dimension;
        background: #414BA3;
        border: none;
        box-shadow: none;
        margin-top: calc($height-bar * 0.5 - $thumb-dimension * 0.5);

        // @include mix.responsive(mobile) {
        //     width: 20px;
        //     height: 20px;
        //     border-radius: 20px;

        //     margin-top: calc(5px * 0.5 - 20px * 0.5);
        // }
    }

    &::-webkit-slider-runnable-track {
        height: $height-bar;
        border: none;
        border-radius: $height-bar;
        background: #FFFFFF;
        box-shadow: none;
        background: linear-gradient(#414BA3,#414BA3) 0/var(--sx) 100% no-repeat, #FFFFFF;

        // @include mix.responsive(mobile) {
        //     height: 5px;
        // }
    }

    &::-moz-range-thumb {
        width: $thumb-dimension;
        height: $thumb-dimension;
        border-radius: $thumb-dimension;
        background: #414BA3;
        border: none;
        box-shadow: none;
    }

    &::-moz-range-track {
        height: $height-bar;
        border: none;
        border-radius: $height-bar;
        background: #FFFFFF;
        box-shadow: none;
        background: linear-gradient(#414BA3,#414BA3) 0/var(--sx) 100% no-repeat, #FFFFFF;
    }

    &::-ms-fill-upper {
        background: transparent;
        border-color: transparent;
    }

    &::-ms-fill-upper {
        background: transparent;
        border-color: transparent;
    }

    &::-ms-fill-lower {
        background: transparent;
        border-color: transparent;
    }

    &::-ms-thumb {
        width: $thumb-dimension;
        height: $thumb-dimension;
        border-radius: $thumb-dimension;
        background: #414BA3;
        border: none;
        box-shadow: none;
        margin-top: 0;
        box-sizing: border-box;
    }

    &::-ms-track {
        height: $height-bar;
        border-radius: $height-bar;
        background: #FFFFFF;
        border: none;
        box-shadow: none;
        box-sizing: border-box;
    }

    &::-ms-fill-lower {
        height: $height-bar;
        border-radius: $height-bar 0 0 $height-bar;
        margin: -undefined 0 -undefined -undefined;
        background: #414BA3;
        border: none;
        border-right-width: 0;
    }
}
