@use '../../../../../modules/mixins' as mix;
@use '../../../../../modules/colors' as *;

.next-level__title {
    @include mix.font('Rubik One', 40px, 400);
    color: $main-yellow;
    margin: 0;
    display: inline;

    @include mix.responsive(mobile) {
        font-size: 16px;
    }

    @include mix.responsive(tablet-s) {
        font-size: 32px;
    }

    @include mix.responsive(tablet-m) {
        font-size: 34px;
    }

    @include mix.responsive(desktop-s) {
        font-size: 30px;
    }
}