@use '../../../modules/colors' as *;
@use '../../../modules/mixins' as mix;

@forward './_shake/answer-quiz_shake';
@forward './__answer-content/answer-quiz__answer-content';

.answer-quiz {
    height: 100%;
    background: $main-white;
    border-radius: 30px;
    padding: 35px 30px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 320px 1fr;

    @include mix.responsive(mobile) {
        grid-template-columns: 1fr;
        padding: 20px 15px;
    }

    @include mix.responsive(tablet-s) {
        grid-template-columns: 1fr;
        padding: 20px 15px;
    }

    @include mix.responsive(tablet-m) {
        grid-template-columns: 1fr;
        padding: 30px 30px;
    }

    @include mix.responsive(desktop-s) {
        padding: 25px;
        grid-template-columns: 230px 1fr;
    }
}