@use '../../../../../modules/colors' as *;
@use '../../../../../modules/mixins' as mix;

.player-quiz__title {
    @include mix.font('Rubik One', 25px, 400);
    color: $main-white;
    padding: 0;
    margin: 0;

    @include mix.responsive(mobile) {
        font-size: 20px;
        text-align: center;
    }

    @include mix.responsive(tablet-s) {
        font-size: 30px;
        text-align: center;
    }

    @include mix.responsive(tablet-m) {
        text-align: center;
    }

    @include mix.responsive(desktop-s) {
        font-size: 20px;
        text-align: start;
    }
}