@forward './__logo/sidebox-quiz__logo';
@forward './__steps/sidebox-quiz__steps';
@forward './__match/sidebox-quiz__match';

.sidebox-quiz {
    min-width: 435px;
    display: flex;
    flex-direction: column;
}