@use '../../../../modules/mixins' as mix;

.main__content {
    @include mix.responsive(mobile) {
        margin-top: 25px;
    }

    @include mix.responsive(tablet-m) {
        margin-top: 15px;
    }

    @include mix.responsive(desktop-s) {
        margin-top: 15px;
    }
}